# Python
__pycache__/
*.pyc
venv/
.env

# Models (Optional: ignore if they get too huge, or use git-lfs)
ai/models/*.zip
ai/logs/

# System
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

models/
